[submodule "Groupe4"]
	path = Groupe4
	url = https://github.com/AMI2B2018-BigData/Groupe4
[submodule "Groupe5"]
	path = Groupe5
	url = https://github.com/AMI2B2018-BigData/Groupe5
[submodule "Groupe1"]
	path = Groupe1
	url = https://github.com/AMI2B2018-BigData/Groupe1
[submodule "Groupe2"]
	path = Groupe2
	url = https://github.com/AMI2B2018-BigData/Groupe2
[submodule "Groupe3"]
	path = Groupe3
	url = https://github.com/AMI2B2018-BigData/Groupe3
